h1 {
word-spacing: 0.05em;

}

p {
line-height: 1em;
text-align: left;
}

.idEnhörning {
  font-size: 14px;
}

.listofenhörning {
  line-height: 2em;
}

.ShowOneU {
  color: #FFFFFF;
  background-color: #23D735;
}

.ShowAllU {
  color: #FFFFFF;
  background-color: #484BE2;
}

.left {
	float: left;
}
.right {
	float: right;
}
.right1 {
	float: right;
}

.right2 {
	float: right;
}

.right3 {
	float: right;
}

.right4 {
	float: right;
}

.right5 {
	float: right;
}

.right6 {
	float: right;
}

.right7 {
	float: right;
}

.right8 {
	float: right;
}

.right9 {
	float: right;
}

.right10 {
	float: right;
}

.right11 {
	float: right;
}

.right12 {
	float: right;
}
